<?xml version="1.0" encoding="utf-8"?>
<!-- Este URDF fue creado automáticamente por SolidWorks para el exportador URDF.
     Originalmente creado por Stephen Brawner (brawner@gmail.com)
     Versión de commit: 1.5.1-0-g916b5db  Versión de compilación: 1.5.7152.31018
     Para más información, visita: http://wiki.ros.org/sw_urdf_exporter -->
<robot name="Seguidor_linea_robot">
    <!-- Elemento raíz que define el robot, nombrado "Seguidor_linea_robot" -->

    <link name="world"/>
    <!-- Define el link del mundo, que sirve como referencia global para el robot -->

    <link name="base_link">
        <!-- Link principal del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_1.stl"/>
                <!-- Carga un modelo 3D del link desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="1 0 0 1" />
                <!-- Define el color del link como rojo, opaco -->
            </material>
        </visual> 
    </link>

    <link name="Link_1">
        <!-- Primer link del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_2.stl"/>
                <!-- Carga el modelo 3D del Link_1 desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="0 0 1 1" />
                <!-- Define el color del link como azul, opaco -->
            </material>
        </visual> 
        <collision>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_2.stl"/>
                <!-- Define la geometría para la colisión usando el mismo modelo -->
            </geometry>
        </collision>
    </link>

    <link name="Link_2">
        <!-- Segundo link del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_3.stl"/>
                <!-- Carga el modelo 3D del Link_2 desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="0 1 0 0.5" />
                <!-- Define el color del link como verde, semi-transparente -->
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_3.stl"/>
                <!-- Define la geometría para la colisión usando el mismo modelo -->
            </geometry>
        </collision>
    </link>

    <link name="Link_3">
        <!-- Tercer link del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_4.stl"/>
                <!-- Carga el modelo 3D del Link_3 desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="1 1 0 0.5" />
                <!-- Define el color del link como verde, semi-transparente -->
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_4.stl"/>
                <!-- Define la geometría para la colisión usando el mismo modelo -->
            </geometry>
        </collision>
    </link>

    <link name="Link_4">
            <!-- Cuarto link del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_5.stl"/>
                <!-- Carga el modelo 3D del Link_4 desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="0 0 1 1" />
                <!-- Define el color del link como verde, semi-transparente -->
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_6_Pinza.stl"/>
                <!-- Define la geometría para la colisión usando el mismo modelo -->
            </geometry>
        </collision>
    </link>

        <link name="Gripper">
            <!-- Cuarto link del robot -->
        <visual>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_6_Pinza.stl"/>
                <!-- Carga el modelo 3D del Link_4 desde un archivo STL -->
            </geometry>
            <material name="">
                <color rgba="1 0 0 1" />
                <!-- Define el color del link como rojo, opaco -->
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://modelo_robot/meshes/Ensamble_5.stl"/>
                <!-- Define la geometría para la colisión usando el mismo modelo -->
            </geometry>
        </collision>
    </link>

    <joint name="fixed" type="fixed">
        <!-- Joint que conecta el mundo con el base_link, sin movimiento -->
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 -20" rpy="0 0 0"/>
        <!-- Define la posición del joint en coordenadas (x, y, z) y orientación (roll, pitch, yaw) -->
        <axis xyz="0 0 1" />
        <!-- El eje de rotación es el eje Z -->
    </joint>

    <joint name="Eslabon_Base" type="revolute">
        <!-- Joint que permite el movimiento entre base_link y Link_1 -->
        <parent link="base_link"/>
        <child link="Link_1"/>
        <origin xyz="0 0 20" rpy="0 0 0"/>
        <!-- Define la posición del joint -->
        <axis xyz="0 0 1"/>
        <!-- El eje de rotación es el eje Z -->
        <!-- Este link tiene su eje en Z y va desde -90 a 90 grados -->
        <limit lower="-1.57" upper="1.57" effort="0" velocity="0.5"/>
        <!-- Define los límites de rotación, esfuerzo y velocidad del joint -->
    </joint>

    <joint name="Eslabon_1" type="revolute">
        <!-- Joint que permite el movimiento entre Link_1 y Link_2 -->
        <parent link="Link_1"/>
        <child link="Link_2"/>
        <origin xyz="13.5 20 28" rpy="0 0 0"/> 
        <!-- Define la posición del joint -->
        <axis xyz="1 0 0"/>
        <!-- El eje de rotación es el eje X -->
        <!-- Este link tiene su eje en X y va desde 90 a 270 grados -->
        <limit lower="1.57" upper="4.71" effort="0" velocity="0.5"/>
        <!-- Define los límites de rotación, esfuerzo y velocidad del joint -->
    </joint>

    <joint name="Eslabon_2" type="revolute">
        <!-- Joint que permite el movimiento entre Link_2 y Link_3 -->
        <parent link="Link_2"/>
        <child link="Link_3"/>
        <origin xyz="5 0 -125" rpy="0 0 0"/> 
        <!-- Define la posición del joint -->
        <axis xyz="1 0 0"/>
        <!-- El eje de rotación es el eje X -->
        <!-- Este link tiene su eje en X y va desde 9180 grados hasta 360 grados -->
        <limit lower="3.14" upper="6.28" effort="0" velocity="0.5"/>        
        <!-- Define los límites de rotación, esfuerzo y velocidad del joint -->
    </joint>

        <joint name="Eslabon_3" type="revolute">
        <!-- Joint que permite el movimiento entre Link_2 y Link_3 -->
        <parent link="Link_3"/>
        <child link="Link_4"/>
        <origin xyz="-60 122 0" rpy="0 0 0"/> 
        <!-- Define la posición del joint -->
        <axis xyz="1 0 0"/>
        <!-- El eje de rotación es el eje X -->
        <!-- Este link tiene su eje en X y va desde 9180 grados hasta 360 grados -->
        <limit lower="3.14" upper="6.28" effort="0" velocity="0.5"/>    
        <!-- Define los límites de rotación, esfuerzo y velocidad del joint -->
    </joint>

        <joint name="Gripper_end" type="revolute">
        <!-- Joint que permite el movimiento entre Link_2 y Link_3 -->
        <parent link="Link_4"/>
        <child link="Gripper"/>
        <origin xyz="43 0 63" rpy="0 0 0"/> 
        <!-- Define la posición del joint -->
        <axis xyz="0 0 1"/>
        <!-- El eje de rotación es el eje X -->
        <!-- Este link tiene su eje en X y va desde 9180 grados hasta 360 grados -->
        <limit lower="3.14" upper="6.28" effort="0" velocity="0.5"/>    
        <!-- Define los límites de rotación, esfuerzo y velocidad del joint -->
    </joint>
  
</robot>